@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*
{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

a 
{
    color: inherit;
    text-decoration: none;
}

/*** NAVBAR ****/

nav 
{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#logo
{
    margin-right: auto;
    padding: 0 32px;
   
}

#logo_mobile
{
    display: none;
}


nav a 
{
    padding: 32px;
}



.nav_entry:hover
{
 color: #0065fc;
 border-top:solid 2px #0065fc;
 
}

.sub_nav
{
 display:flex;
}

/**** MOBILE ****/
@media(max-width: 768px){
    .sub_nav 
    {
        order: 1;
        flex-basis: 100%;
    }

    .sub_nav a
    {
        flex-basis: 50%;
        text-align: center;
    }


    #logo
    {
        display: none;
    }

    #logo_mobile
    {
       margin: auto;
       display: inline;
       
        
    }

    .nav_entry
    {
        border-top: none;
        border-bottom: solid 2px #f2f2f2;
    }

    

    .nav_entry:hover
    {
        border-top: none;
        border-bottom: solid 2px #0065fc;
    }


}
/***** SEARCH BAR *****/

 .heading
{
    margin-bottom: 15px;
}

.wrapper
{
    padding:0 32px;
}

.search_form
{
    display: flex;
    
}

.search_form > *
{
    padding: 16px 24px;
}

#map_icon
{
    padding:16px 19px;
    background-color:#f2f2f2;
    border-radius:16px 0 0 16px;
}


.search_form input 
{
    padding-right:96px;
    border: 1px solid #f2f2f2;
    

}

.search_form button
{
    background-color: #0065fc;
    color: white;
    font-size: 19px;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    border: none;
    padding: 0 24px;
    box-shadow: 0px 0px 0px 2px #0065FC ;
}

.search_form input::placeholder
{
    font-weight: bold;
    color: black;
    font-size: 19px;
    
}


#loupe
{
    display: none;
}


/**** MOBILE ****/

@media(max-width: 768px){

.search_form .search_loupe
{
    display: none;
}

#loupe
{
  display: inline;
}

.search_form button
{
    border-radius: 14px 14px 14px 14px;
    
}

}


/***** FILTER ****/

.filter_list
{
    display: flex;
    align-items: center;
    gap: 16px 32px;
    margin-top: 3%;
    flex-wrap: wrap;
}

.filter_list h1
{
    margin-bottom: 0;
}


.filter
{
    border: 2px solid #f2f2f2;
    border-radius: 32px;
    display: flex;
    align-items: center;
    transition: all 300ms ease ;
    
}


#icon_item
{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.filter span
{
    font-weight: bold;
    padding: 0 16px;

}

.filter:hover
{
    background-color: #DEEBFF;
    transform: scale(1.085);
    cursor: pointer;
}

/**** SEARCH INFO ****/

.search_info
{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    
}

#icon_info
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 2px #f2f2f2;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
}


/***** HÉBERGEMENTS *****/


.list_appartement
{
    display: flex;
    gap: 16px;
    
}

.list_appartement > div
{
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 16px;
}

.list_appartement .city
{
    flex-basis: 66%;
}

.list_appartement .city a 
{
    font-weight: bold;
}

.populaire
{
    flex-basis: 33%;
}

/***** LISTE APPARTEMENT *****/ 

.city_appt_list
{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-bottom: 16px;
}


/***** APPARTEMENT CARD *****/


.card_appartement
{
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 0 16px #0000002e;
    flex-grow: 1;
    height: 255px;
    width: 284px;
    transition: all 350ms ease;
}


.card_appartement:hover
{
    transform: scale(1.085);
    cursor: pointer;
}

.card_appartement img
{
    border-radius: 16px 16px 0 0;
    height:160px;
    width: 100%;
    object-fit: cover;
    object-position: center; 
    
}

.card_appartement p,
.card_appartement h3,
.populaire_description p,
.populaire_description h3
{
    margin: 4px;
}


.blue
{
    color: #0065FC;
}

.grey
{
    color: #d9d9d9;
}



/**** POPULAIRE ****/


.list_appartement .populaire_flex
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
}



/* POPULAIRE CARD */

.populaire
{
    display: flex;
    flex-direction: column;
}

.populaire_flex
{
    flex-basis: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.populaire_card
{
    display: flex;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 16px #0000002e;
    padding: 8px;
    width: 490px;
    transition: all 450ms ease;
}


.populaire_card:hover
{
    transform: scale(1.085);
    cursor: pointer;
}

.populaire_card img
{
    height: 128px;
    width: 40%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px 0 0 16px;
    margin-right: 8px;
}

.populaire_description
{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}



.populaire_card .stars
{
    margin-top:auto ;
}

.populaire h3
{
    display: flex;
    justify-content: space-between;
}



/***** MOBILE ****/

@media(max-width:768px){
    .list_appartement
    {
        flex-direction: column-reverse;
        
    }
    
    .list_appartement .populaire_flex
    {
        flex-direction: row;
    }

    
}