@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* Desktops and laptops ----------- */
@media only screen and (min-width : 992px) {
}


/* Header */

body
{
    font-family : 'Raleway', sans-serif ;
}

.logo
{
margin-left: 117px;
margin-top: auto;
}

body
{
    margin: 0;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul 
{
    display: flex;
    list-style: none;
}

nav li
{
    margin:0px 150px 0px 10px;
}

a
{
    text-decoration: none;
}

.nav_entry:hover
{
border-top: solid 2px #0065FC;
color:#0065FC;
}

.nav_title:hover
{
    color: #0065FC;
}

.title_container
{
    margin-top: 111px;
    margin-left:117px;
    margin-bottom: 45px;
}





/* MAIN SEARCH BAR */

.search_bar
{
    margin-left: 117px;
    margin-top: 42px;
    display: flex;
    
    
    
}

.search_bar_input
{
    
    display: flex;
    
    height: 90px;
    width: 540px;
    
}


.icon_map
{
    height:90px;
    width: 100px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    
}

#icon_input
{
    display: flex;
    
}

.search_input
{
    border: solid 2px;
    border-color: #f2f2f2;
    
}

#input
{
    display: flex;
    height:85px;
    width:295px;
    font-weight: bold;
    text-align: center;
    border: none;
    font-size: 24px;
}















/*****MOBILE****/

@media (max-width:768px)
{
    .nav_entry:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;
  }
  .nav_title:hover
  {
      color: #0065FC;
  }

}






