@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* Desktops and laptops ----------- */
@media only screen and (min-width : 992px) {
}


/* Header */

body
{
    font-family : 'Raleway', sans-serif ;
}

.logo
{
margin-left: 117px;
margin-top: auto;
}

body
{
    margin: 0;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul 
{
    display: flex;
    list-style: none;
}

nav li
{
    margin:0px 150px 0px 10px;
}

a
{
    text-decoration: none;
}

.nav_entry:hover
{
border-top: solid 2px #0065FC;
color:#0065FC;
}

.nav_title:hover
{
    color: #0065FC;
}

.title_container
{
    margin-top: 111px;
    margin-left:117px;
    margin-bottom: 45px;
}


/* MAIN SEARCH BAR */






